@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
	background: radial-gradient(#a429bc,#9225a7,#7f2092);
	font-family: 'Poppins',serif;
}

form {
    margin-left: 60%;
    margin-right: 70%;
    width: 88%;
    background-color: white;
    box-sizing: border-box;
	border: 1px solid #6d1c7d;
 	border-radius: 10px 10px 10px 10px;
 	padding: 30px;
}

.display-8{
	font-size: 28px;
	font-weight: bold;
	color: white;
	padding: 25px 0 30px 25px;
	background: #5c1769;
 	border-bottom: 1px solid #370e3f;
 	border-radius: 5px 5px 0 0;
 	font-family: 'Rubik',serif;
}



