{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
	<div class="about">
		<center><h2>About Us</h2></center>
	</div>
	<br>
	<div>
	<img src="{% static 'about/carp.jpg' %}">
	<img src="{% static 'about/elec.jpg' %}">
	<img src="{% static 'about/paint.jpg' %}">
	<img src="{% static 'about/pest.jpg' %}">
	<img src="{% static 'about/plum.jpg' %}">
	</div>
	<br><br><br><br><br><br><br><br><br><br><br>
	<div>
		<center><h4>Who Are We</h4></center>
		<br>
		<p>Home Services On Demand is a platform that helps customers book reliable home services like cleaning, plumbing, carpentry, electrical and electronics, painting etc. Our company's vision is to empower millions of service professionals across the Bangalore to deliver services at home like never seen before. The company partners with tens of thousands of service professionals, helping them with with training, credit, product procurement, insurance, technology etc.</p>
	</div>
	<br>
	<br>
	<div>
		<center><h4>How We do it</h4></center>
		<br>
		<p>
			Home Services On Demand provides a platform that allows skilled and experienced professionals to connect with users looking for specific services. All the professionals, though experienced and skilled, undergo intensive training modules before being allowed to list their services on the platform. Once on the platform, our match-making algorithm identifies professionals who are closest to the users' requirements and available at the requested time and date.

			Only 1 in 10 service providers who sign up with us is allowed to list their services.
		</p>
	</div>
	<br>
	<div>
		<center><h4>Have any Queries?<u><a href="{% url 'contact' %}">Contact Us...</a></u></h4></center>
	</div>
	<br> <!--
	<form method="POST">
		{% csrf_token %}

		{% if error%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}

		<div class="form-group">
            <label for="">Name</label>
            <input type="text" name="name" id="" class="form-control form-control-sm" placeholder="full name">
        </div>

        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" name="phone" id="" class="form-control form-control-sm" placeholder="9632147852">
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input required type="email" name="email" id="" class=" form-control-sm form-control" placeholder="example@gmail.com">
        </div>

        <label for="">Description</label>
        <div class="form-group">
        	<textarea rows="5" cols="89" name="desc" id="" placeholder="Write Here!!!"></textarea>
        </div>
        <br>
        <div class="form-group">
            <center><input class="btn btn-sm btn-info" type="submit" value="Submit "></center><br>
        </div>

    </form>    -->
    <br>
</body>

{% endblock %}