{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signserpro.css' %}">
</head>
   <body>
   <center><div class="display-8">New Service Provider Registration</div></center>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <br>
            <br>
            <br>
        <form action="/signup1" method="POST" enctype="multipart/form-data">
            <div id="aDiv">
        {% csrf_token %}

        {% if error%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        <!-- firstname -->
        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" name="firstname" id="" value="{{values.first_name}}"
                   class="form-control form-control-sm" placeholder="">
        </div>

        <!-- last name -->
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" name="lastname" id="" value="{{values.last_name}}"
                   class="form-control form-control-sm">
        </div>

        <!-- phone -->
        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" name="phone" id="" class="form-control form-control-sm"
            value="{{values.phone}}" placeholder="9632147852">
        </div>

        <!-- email -->
        <div class="form-group">
            <label for="">Email</label>
            <input required type="email" name="email" id="" value="{{values.email}}"
            class=" form-control-sm form-control" placeholder="example@gmail.com">
        </div>


        <!-- password -->
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" id=""
             class="form-control form-control-sm" placeholder="********">
        </div>

         <!-- service type -->
        <div class="form-group">
            <label for="">Service Type</label>
            <input type="text" name="service_type" id=""
             class="form-control form-control-sm" placeholder="Ex: painter/Plumber..." required>
        </div>

        <!-- aadhar -->
        <div class="form-group">
            <label for="">Aadhar</label>
            <input type="text" name="aadhar" id=""
                   class="form-control form-control-sm" placeholder="123456789" required>
        </div>

        <!-- address -->
        <div class="form-group">
            <label for="">Address</label>
            <input type="text" name="address" id=""
             class="form-control form-control-sm" placeholder="Jayanagar" required>
        </div>

        <!-- area -->
        <div class="form-group">
            <label for="">Area</label>
            <input type="text" name="area" id=""
             class="form-control form-control-sm" placeholder="In 4th Block" required>
        </div>

        <!-- landmark -->
        <div class="form-group">
            <label for="">Landmark</label>
            <input type="text" name="landmark" id=""
             class="form-control form-control-sm" placeholder="next to cool joint" required>
        </div>
        <!-- pin code -->
        <div class="form-group">
            <label for="">Pin Code</label>
            <input type="text" name="pincode" id=""
                   class="form-control form-control-sm" placeholder="560069" required>
        </div>
        <div class="form-group">
            <label for="">Upload Your Picture</label>
            <input type="file" id="real-file" name="file_name" required>
        </div>

        <hr>
        <div class="form-group">
            <center><input class="btn btn-sm btn-info" type="submit" value="Create An Account "></center><br>
        </div>
        <div>
             <h5>Already Have An Account? <a href="login"> <u>Click Here</u></a></h5>
        </div>
    </div>
    </form>
    </div>
    </div>
</div>
<br>
</body>

{% endblock %}